md-radio-button {
	display: inline;
}
md-checkbox{
	list-style: none;
	display:inline-block;
}
md-dialog{
	position: absolute;
    min-width: 140px !important;
    top: 13%;
    left: 32%;
    width: 29%;
    height: 35%;
    opacity: 1;
}
md-dialog md-dialog-content {
	padding:0px;
}
md-switch .md-bar {
    background-color: rgb(158,158,158)!important;
    left: 35px !important;
    width: 160px !important;
    top: 5px !important;
    height: 32px !important;
    border-radius: 50px !important;
}
md-switch .md-thumb {
    background-color: rgb(250,250,250)!important;
    top: 3px !important;
    left: 36px !important; /*113*/
    height: 32px !important;
    width: 80px !important;
}
md-switch .md-thumb-container {
    width: 76px !important;
}